{%extends 'base.html'%}

{%block content%}

<h2 class="text-center">Liste des devis</h2>

<div class="container">
    <div class="array border">

        <div class="row no-gutters">
            <div class="bg-success col-6 border text-center py-2">
                Client
            </div>
            <div class="bg-success col-6 border text-center py-2">
                Date
            </div>
        </div>

        {% for facture in object_list %}

        <div class="row no-gutters">
            <div class="col-6 border text-center py-2">
                <a href="{% url 'facture_detail' facture.devis.id %}">
                    {{facture.client}}
                </a>
            </div>
            <div class="col-6 border text-center py-2">
                <a href="{% url 'facture_detail' facture.devis.id %}">
                    {{facture.date}}
                </a>
            </div>
            
        </div>
      {% endfor %}
        <!-- Modal -->
    </div>
</div>

<script>



</script>


{%endblock%}