{%extends 'base.html'%}

{%block content%}

<div class="container py-2">

    <h2 class="text-center">Nouveau client</h2>

    <div class="w-50 m-auto">
        <form id="new_client" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        
            {{form.as_p}}
            
            <hr>
            
            {% for form in client_form.forms %}
                <div class="new_adress">
                    {{ form.id }}
                    {{form.as_p}}
                    <hr>
                </div>
            {% endfor %}


            {{ client_form.management_form }}
            
            <input type="submit" value="save">
            
        </form>
    </div>
     
</div>
{%endblock%}