{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
    </head>
    <script src="{%static 'jquery/dist/jquery.min.js'%}"></script>
    <script src="{%static 'popper.js/dist/popper.min.js'%}"></script>
    <script src="{%static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.new_adress').formset({
                prefix: '{{ client_form.prefix }}'
            });

            $('.new_devis').formset({
                prefix: '{{ ligne_form.prefix }}'
            });
        })
    </script>
    <body>
        {% with request.resolver_match.view_name as view_name %}
            {% if view_name != "pdf_facture" and view_name != "pdf" %}

                {% include 'header.html' %}

            {% endif %}
        {% endwith %}

        {%load static%}
        {%block content%}
        {%endblock%}
</body>

</html>