{%extends 'base.html'%}

{%block content%}

<div class="container py-2">

    <p> Siret : {{ devis.client.siret }}</p>
    <p> TVA : {{ devis.client.tva_num }}</p>
    <p> adresse : A faire !!!!!</p>
    <p> Phone : {{ devis.client.phone }}</p>
    <p> First name : {{ devis.client.first_name }}</p>
    <p> Last name : {{ devis.client.last_name }}</p>
    <p> Date de creation : {{ devis.date }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
    <p> Siret : {{ devis.client.siret }}</p>
</div>


{%endblock%}