{%extends 'base.html'%}

{%block content%}

<div class="container py-2">

    <h1 class="text-center">Devis</h1>

    <div class="enterprise">
        <p>Wayne Enterprise</p>
        <p>Manoir des Wayne, Gotham</p>
        <p>Tel : **CRYPTED**</p>
    </div>
    <div class="client d-flex justify-content-end">
        <div class="client-container w-25">
            <p>{{ devis.client.first_name }} {{ devis.client.last_name }}</p>
            <p> adresse : {{devis.client.adress.all.0.adress}} {{devis.client.adress.all.0.postal_code}}
                {{devis.client.adress.all.0.city}}</p>
            <p> Tel : {{ devis.client.phone }}</p>
            <p> Siret : {{ devis.client.siret }}</p>
            <p> TVA : {{ devis.client.tva_num }}</p>
        </div>
    </div>

    <div class="date mt-5 w-50 row border no-gutters text-center">
        <div class="col-6 border py-2">Date du devis</div>
        <div class="col-6 border py-2">{{ devis.date }}</div>
    </div>

    <div class="array border mt-5">

        <div class="row no-gutters">
            <div class="col-3 border text-center py-2">
                Desciption
            </div>
            <div class="col-3 border text-center py-2">
                Quantité
            </div>
            <div class="col-3 border text-center py-2">
                Prix unitaire HT
            </div>
            <div class="col-3 border text-center py-2">
                Prix total HT
            </div>
        </div>

        {% for ligne_devis in devis.ligne_devis.all %}

        <div class="row no-gutters">
            <div class="col-3 border text-center py-2">
                {{ ligne_devis.product }}
            </div>
            <div class="col-3 border text-center py-2">
                {{ ligne_devis.quantity }}
            </div>
            <div class="col-3 border text-center py-2">
                {{ ligne_devis.unit_price }}
            </div>
            <div class="col-3 border text-center py-2">
                {{ ligne_devis.total_quantity_ht }}
            </div>
        </div>

        {% endfor %}
        <!-- Modal -->
    </div>

    <div class="total d-flex justify-content-end mt-5">
        <div class="total-container w-25">
            <div class="row no-gutters">
                <div class="col-6 border">
                    Total HT
                </div>
                <div class="col-6 border">
                    {{devis.total_ht}}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6 border">
                    TVA (20,00%)
                </div>
                <div class="col-6 border">
                    {{ devis.tva }}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6 border">
                    Total TTC
                </div>
                <div class="col-6 border">
                    {{ devis.total_ttc }}
                </div>
            </div>
        </div>
    </div>

    {% if perms.devis.change_devis %}
    <a href="{% url 'devis_update' devis.id %}" class="btn">Editer</a>
    {% endif %}

    <div class="text-center">
        <!-- Button trigger modal -->
        {% if perms.devis.view_devis %}
        <h5 class="modal-title" id="exampleModalLabel">Export pdf</h5>
        <a type="button" class="btn btn-primary" href="{% url 'pdf' devis.id %}">pdf</a>
        {% endif %}

        {% if perms.facture.add_facture %}
        <a href="{% url 'facture_transform' devis.id %}" class="btn btn-success">Transformer en Facture</a>
        {% endif %}
        
        {% if perms.devis.delete_devis %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Supprimer
        </button>
        {% endif %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer ce devis ?
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'devis_delete' devis.id %}">{% csrf_token %}
                            <input type="submit" value="Confirm" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{%endblock%}